#title{
  margin: 20px;
}

body{
  background-color: lightblue
}

.container-main{
  text-align: left;
  margin: 0px 50px 0px 50px;
  font-size:16px;
}

.container-main h1{
  text-align: center;
}

.choice {
  display: block;
  margin-left: 30px;
}

.initially-hidden{
  display: none;
}

.bg-info{
  background-color: lightblue;
  border:0px;
}

button{
  display: inline-block;
  margin-bottom:30px;
}

#copyright{
  text-align: right;
}
